/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*----- VARIABLES CSS Y SASS -----*/
/*Variables css*/
/*Colores*/
:root {
  --first-color: #1D1D1F;
  --second-color: #0071E3;
  --white-color: #FFF;
}

/*Fuente y tipografia*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 3.5rem;
  --bigger-font-size: 2.25rem;
  --big-font-size: 1.625rem;
  --normal-font-size: 1.0rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 8rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 1.2rem;
    --smaller-font-size: 0.938rem;
  }
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*----- BASE -----*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0rem 0 0 0;
  font-family: var(--body-font);
  background-color: var(--white-color);
  color: var(--first-color);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white-color);
}

.banner {
  background: #0071e3;
  display: none;
}

.banner__content {
  padding: 9px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.banner__text {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/*----- PAGES -----*/
.nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn {
  color: var(--second-color);
  padding: 0.375rem 1rem;
  border-radius: 2rem;
}

/*Home*/
.home {
  height: calc(110vh);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5fr 1fr 1fr;
      grid-template-rows: 1.5fr 1fr 1fr;
      grid-template-areas: "data" "img" "scroll";
  row-gap: 1.5rem;
}

.home__data {
  grid-area: data;
  text-align: center;
  padding-top: 2rem;
}

.home__title {
  font-size: var(--bigger-font-size);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.home__description {
  font-size: var(--normal-font-size);
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.home__actions {
  margin-left: auto;
}

.store__action {
  height: 40px
}

.home__img {
  grid-area: img;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__img img {
  width: 255px;
  height: 482px;
  margin-right: 1rem;
}

/*Details*/
.l-section {
  height: 100vh;
}

.details {
  height: calc(100vh);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__box {
  margin-bottom: 2.5rem;
  text-align: center;
}

.details__title {
  font-size: var(--bigger-font-size);
  font-weight: 400;
}

.details__title span {
  font-size: var(--big-font-size);
}

.details__description {
  font-size: var(--normal-font-size);
}

.details__img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.details__img img {
  width: 218px;
}

/*ANIMATION*/
.small-pod {
  -webkit-animation: small-pod 3s infinite;
          animation: small-pod 3s infinite;
}

@-webkit-keyframes small-pod {
  50% {
    -webkit-transform: translatey(-6%);
            transform: translatey(-6%);
  }
}

@keyframes small-pod {
  50% {
    -webkit-transform: translatey(-6%);
            transform: translatey(-6%);
  }
}

/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 1150px) {
  body {
    margin: 0;
  }
  .home {
    height: 100vh;
    -ms-grid-columns: min-content;
        /* grid-template-columns: -webkit-min-content; */
        /* grid-template-columns: min-content; */
    -ms-grid-rows: 80% 10%;
        grid-template-rows: 80% 10%;
        grid-template-areas: "data img"
 "scroll scroll";
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .home__data {
    grid-area: data;
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: initial;
  }
  .home__description {
    padding: 0 5rem 0 0;
  }
  .home__img {
    grid-area: img;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home__img img {
    width: 382.5px;
    height: 723px;
  }
  /*DETAILS*/
  .details {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .details__box {
    margin-bottom: 2rem;
  }
  .details__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .details__img img {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
